@model IEnumerable<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";

}

<div class="row jumbotron">

 <div class="col-md-12">
     <h1>Welcome to The World</h1>
     <p>This app will alow you to plan for World Trips</p>
     @Html.ActionLink("View my trips", "Trips",new { },new {@class="btn btn-lg btn-success" })
 </div>
</div>

